<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Almacaprina</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Almacaprina necesita acceso a tus fotos para adjuntar la foto de una cabra a su ficha técnica.</string>
	<key>NSCameraUsageDescription</key>
	<string>Almacaprina necesita acceso a la cámara para tomar la foto de una cabra y adjuntarla a su ficha técnica.</string>
</dict>
</plist>
